/* Base Application Styles */
html, body {
    margin: 0;
    color: #ffffff;
    height: 100%;
    background: #ED4264; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #ED4264, #FFEDBC);
    background: -moz-linear-gradient(right, #ED4264, #FFEDBC);
    background: -o-linear-gradient(right, #ED4264, #FFEDBC);
    background: linear-gradient(to left, #ED4264, #FFEDBC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app{
    padding: 10px;
}

.closeDialogButton{
 width: 100%;
 color: white !important;
 font-weight: 600;
}