/* Base Application Styles */
html, body {
  color: #ffffff;
  height: 100%;
   background: #ED4264; /* fallback for old browsers */
 background: linear-gradient(to left, #ED4264, #FFEDBC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#app{
    min-height: 100%;
}

#addCardBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    margin:20px;
}

// #addCardBtn {
//     display:block;
//     width:50px;
//     height:50px;
//     line-height:50px;
//     border: 2px solid #f5f5f5;
//     border-radius: 50%;
//     color:#f5f5f5;
//     text-align:center;
//     text-decoration:none;
//     background: #464646;
//     box-shadow: 0 0 3px gray;
//     font-size:20px;
//     font-weight:bold;
// }

// #addCardBtn:hover {
//     background: #262626;
// }