.card-container {
    padding: 20px;
}

.card-list {
    margin: auto;
    width: 640px;
}

.card {
    width: 640px;
    height: 360px;
    color: black;
    
    background: rgba(237,237,237,1);
background: linear-gradient(to left, rgba(237,237,237,1) 0%, rgba(254,254,254,1) 100%);
    box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.4);
    font-family: 'Itim', cursive;
    
    > div{
        display:inline-block;
    }
    div:nth-child(1) img {
        height: 100px;
        display: inline-block;
    }

    .panel{
        width:50%;
        display: flex;
    }
    
    img{
        display: block;
        margin: auto;
    }
}
