#cardTypesContainer {
    background-color: none;
    ul{
        padding: 0;
    }
    li{
        text-align: center;
        list-style: none;
        button{
            min-width: 100px;
            margin: 20px;
        }
    }    
    #type-Location{
        color: #FFCDD2;
        background-color: #E53935;        
        &:hover{
            background-color: #F44336;
        }
    }
    #type-Item{
        color: #BBDEFB;
        background-color: #1E88E5;        
        &:hover{
            background-color: #2196F3;
        }
    }
    #type-Feeling{
        color: #C8E6C9;
        background-color: #388E3C;        
        &:hover{
            background-color: #4CAF50;
        }
    }    
}